WATCH_FOLDER=C:\HariomDMS\InvoiceWatch
WATCHER_PORT=7788
FIREBASE_STORAGE_BUCKET=hariom-delivery.firebasestorage.app
WATCHER_API_URL=http://YOUR_PC_LOCAL_IP:7788
FIREBASE_SA_PATH=C:\HariomDMS\InvoiceWatcher\firebase-service-account.json
